
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}
.button:hover {
  background: #aaa;
  transition: background 0.2s;
}





















/**********************************************************






*************************************************************/
#app {
  width: 100vw;
  height: 100%;
}

#top_nav_search_bar {
  width: 100vw;
  position: absolute;
  background: white;
  opacity: 0;
  transition: opacity 0.5s;
}
#top_nav_search_bar.show {
  z-index: 2;
  opacity: 1;
}
#top_nav_search_bar input {
  width: calc(100% - 108px);
  height: 56px;
  position: absolute;
  user-select: text;
}
#top_nav_search_bar input:focus {
  outline: none;
}

#top_nav_search_bar_icon,
#top_nav_search_bar_close {
  display: inline-block;
  vertical-align: middle;
  width: 54px;
  padding: 0 15px;
}

#top_nav_search_bar_icon i,
#top_nav_search_bar_close i {
  color: black;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
}

#top_nav_search_bar_icon {
  margin: 0 54px 0 0;
  transition: margin 0.5s;
}
#top_nav_search_bar.show #top_nav_search_bar_icon {
  margin: 0;
}

#top_nav_search_bar_close {
  float: right;
}




#top_nav_search_icon,
#top_nav_sort_icon {
  float: left;
}



/**********************************************************






*************************************************************/
#clip_path {
  display: none;
}

#clip_path.show {
  display: block;
}

/**********************************************************






*************************************************************/
#clip_item_container {
  margin-top: 25px;
  padding: 0 25px;
  width: 100%;
}

#clip_item_left_column {
  width: 48%;
  float: left;
}
#clip_item_right_column {
  width: 48%;
  float: right;
}

.clip_item {
  display: block;
  background: #eee;
  height: 100px;
}

.clip_item + .clip_item {
  margin-top: 15px;
}

/**********************************************************






*************************************************************/
#create_clip_button {
  position: fixed;
  background: #ddd;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
}
#create_clip_options {
  position: fixed;
  background: #ddd;
  right: 50px;
  bottom: 50px;
  width: 160px;
  height: 160px;
}
#create_clip_options_text,
#create_clip_options_image,
#create_clip_options_file {
  width: 70px;
  height: 70px;
}
